<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>todo</display-name>
	<servlet>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.LoginController</servlet-class>
	</servlet>
	<servlet>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<display-name>RegController</display-name>
		<servlet-name>RegController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.RegController</servlet-class>
	</servlet>
	<servlet>
		<display-name>ShowActiveTaskController</display-name>
		<servlet-name>ShowActiveTaskController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.ShowActiveTaskController</servlet-class>
	</servlet>
	<servlet>
		<display-name>ShowUnactiveTaskController</display-name>
		<servlet-name>ShowUnactiveTaskController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.ShowUnactiveTaskController</servlet-class>
	</servlet>
	<servlet>
		<display-name>CreateTaskController</display-name>
		<servlet-name>CreateTaskController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.CreateTaskController</servlet-class>
	</servlet>
	<servlet>
		<display-name>UpdateTaskController</display-name>
		<servlet-name>UpdateTaskController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.UpdateTaskController</servlet-class>
	</servlet>
	<servlet>
		<display-name>UploadFileController</display-name>
		<servlet-name>UploadFileController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.UploadFileController</servlet-class>
	</servlet>
	<servlet>
		<display-name>DownloadFileController</display-name>
		<servlet-name>DownloadFileController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.DownloadFileController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Log4JInit</servlet-name>
		<servlet-class>by.gsu.epamlab.utils.Log4JInit</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<servlet-name>MainController</servlet-name>
		<servlet-class>by.gsu.epamlab.controllers.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowActiveTaskController</servlet-name>
		<url-pattern>/showActiveTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowUnactiveTaskController</servlet-name>
		<url-pattern>/showUnactiveTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateTaskController</servlet-name>
		<url-pattern>/createTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTaskController</servlet-name>
		<url-pattern>/updateTask</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFileController</servlet-name>
		<url-pattern>/uploadController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadFileController</servlet-name>
		<url-pattern>/downloadController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>main</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
	</jsp-config>
	<context-param>
		<description>Location to store uploaded files</description>
		<param-name>path</param-name>
		<param-value>c:/Program Files/tomcat_5.5/webapps/data/
        </param-value>
	</context-param>
</web-app>
